<p id="notice"><%= notice %></p>

<div class="container caps">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>CANCER PROTOCOLS</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-bordered w3-table">
            <tbody>
            <tr>
              <td><a href="#">Breast</a></td>
              <td><a href="#">Central nervous system</a></td>
              <td><a href="#">Endocrine</a></td>
              <td><a href="#">Gastrointestinal</a></td>
            </tr>
            <tr>
              <td><a href="#">Genitourinary</a></td>
              <td><a href="#">Gynecologic</a></td>
              <td><a href="#">Head and neck</a></td>
              <td><a href="#">Hematologic</a></td>
            </tr>
            <tr>
              <td><a href="#">Ophthalmic</a></td>
              <td class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pediatric</a>
                <ul class="dropdown-content">
                  <li><%= link_to 'Ewing sarcoma biopsy', pediatrics_url %></li>
                  <li><%= link_to 'Ewing sarcoma resection', pediatrics_url %></li>
                  <li><%= link_to 'Extragonadal germ cell tumor biopsy/resection', pediatrics_url %></li>
                  <li><%= link_to 'Hepatoblastoma biopsy/resection', pediatrics_url %></li>
                  <li><%= link_to 'Neuroblastoma biopsy/resection', pediatrics_url %></li>
                  <li><%= link_to 'Rhabdomyosarcoma biopsy/resection', pediatrics_url %></li>
                  <li><%= link_to 'Kidney tumors biopsy/resection', pediatrics_url %></li>
                </ul>
              </td>
              <td><a href="#">Skin</a></td>
              <td><a href="#">Thorax</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>BIOMARKER TEMPLATES</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table table-bordered w3-table">
            <tbody>
            <tr>
              <td><a href="#">Breast</a></td>
              <td><a href="#">Central nervous system</a></td>
              <td><a href="#">Endocrine</a></td>
              <td><a href="#">Gastrointestinal</a></td>
            </tr>
            <tr>
              <td><a href="#">Gynecologic</a></td>
              <td><a href="#">Head and neck</a></td>
              <td><a href="#">Hematologic</a></td>
              <td><a href="#">Skin</a></td>
            </tr>
            <tr>
              <td><a href="#">Torax</a></td>
              <td><a href="#"></a></td>
              <td><a href="#"></a></td>
              <td><a href="#"></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>